<nav>
  <div class="logo"></div>
</nav>

<!-- <div class="mobile-screen-left">
  <div class="header">
    <h1>About</h1>
  </div> -->

<div class="mobile-screen">
  <div class="header">
    <h1>Login</h1>
  </div>



    <%= form_for @user, :html => { :id => 'registration-form' } do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.text_field :first_name, class: '', placeholder: "First Name" %>
      <%= f.text_field :email, class: '', placeholder: "Email" %>
      <%= select_tag(:user_age_id, options_for_select([['Age', 0], ['18-24', 1], ['25-34', 2], ['35-44', 3], ['45-54', 4], ['55-64', 5], ['65-75', 6]])) %>
      <%= select_tag(:user_gender_id, options_for_select([['Gender', 0],['Female', 1], ['Male', 2]])) %>
      <%= f.text_field :password_digest, class: "", placeholder: "Password" %>
      <%= f.text_field :password_confirmation, class: "", placeholder: "Confirm Password" %>
      <%= f.submit %>
    <% end %>

  <%= form_for @user, :html => { :id => 'login-form' } do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.text_field :email, class: "", placeholder: "Email" %>
  <%= f.text_field :password_digest, class: "", placeholder: "Password" %>
  <%= f.submit %>
<% end %>

  <form id="fpass-form">
    <input type="text" class="required" name="forgotten" placeholder="Email or phone number">
    <a href="#" class="login-btn" id="getpass-btn">Get Password</a>
  </form>

  <div class="other-options">
    <div class="option" id="newUser"><p class="option-text">New User</p></div>
    <div class="option" id="fPass"><p class="option-text"> Forgot password</p></div>
  </div>

</div>
<footer>&copy 2016 truthy-ruthy</footer>
