<div class="mobile-screen">

  <div class="left-panel">
    <h1 class="left-header">Why Kohort?</h1>
    <div class="why">
      <p>
        A place for the self-employed and work-from-homers to connect face to face and form the relationships normally created in the workplace.<br><br> Connect with your kohort daily, weekly or monthly and get the social connection, support and accountablility you need and crave!
        <div id="newUser"><p class="option-text">Join Kohort!</p></div>
      </p>

    </div>
    <footer>&copy 2016 truthy-ruthy</footer>
  </div>





<div class="right-panel">
  <h1 class="right-header">Login</h1>
    <%= form_for @user =User.new, :html => { :id => 'registration-form' } do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.text_field :first_name, :autocomplete => "off", class: '', placeholder: "First Name" %>
      <%= f.text_field :email, :autocomplete => "off", class: '', placeholder: "Email" %>
      <%= collection_select(:age, :age_id, Age.all, :id, :age_range, :prompt => "Age") %>
      <%= collection_select(:gender, :gender_id, Gender.all, :id, :gender, :index => "Gender") %>
        <%= password_field_tag(:password, "", class: "masked_input_field", maxlength: 16, placeholder: "Password") %>
        <%= password_field_tag(:password_confirmation, "", class: "masked_input_field", maxlength: 16, placeholder: "Confirm Password") %>
      <%= submit_tag "Join", class: "login-btn"%>
    <% end %>

      <%= form_for(:session, url: login_path, :html => { :id => 'login-form' }) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :email, :autocomplete => "off", class: "", placeholder: "Email" %>
      <%= password_field_tag(:password, "", class: "masked_input_field", maxlength: 16, placeholder: "Password") %>
      <%= submit_tag "Sign In", class: "login-btn"%>
    <% end %>

</div>




<!-- <div class="right-panel" class="five columns">
  <form id="fpass-form">
    <input type="text" class="required" name="forgotten" placeholder="Email">
    <a href="#" class="login-btn" id="getpass-btn">Get Password</a>
  </form>
  </div> -->


</div>
